@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.05em;
  padding-bottom: 0.5rem;
}

.account-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 4px;
}

#email-error,
#password-error {
  border-color: red;
}

.submitButton {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #45a049;
}

.sidebar {
  height: 100%;
  width: 150px;
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 40px;
  background-color: #D3D3D3;
  }
  
.sidebar div {
padding: 8px;
font-size: 24px;
display: block;
}

.post-main {
margin-left: 200px;
margin-top: 40px;
font-size: 18px;
}